@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
}

.main-bg-dark {
    background-color: #10161d;
}

.main-bg-light {
    background-color: #1c2833;
}

.m1r-auto {
    margin: 1rem auto;
}

.w-60r {
    width: 60rem;
}

.w-mx-60r {
    max-width: 60rem;
}

.text-center {
    text-align: center;
}

.py-1 {
    padding: 1rem 0;
}

.p-1 {
    padding: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.d-flex {
    display: flex;
}

.error {
    color: #f00;
    font-size: 14px;
    display: block;
}

.bold {
    font-weight: bold;
}